<!-- <script id="edit-show-products" type="text/x-handlebars-template">
  {{#each products as |product|}}

    <p>
    <div class="product_parent-js displaying" >
    <div class='product-name-js to_hide'>{{product.name}}</div>
    <%= form_for Product.new, remote: true, url: '/products/{{product.id}}', method: 'PATCH' do |f| %>
      <%= f.text_field :name %>
    <% end %>
    </div>
    </p>
  {{/each}}
</script> -->
