<!-- Quantity: Unit: Ingredient name, handle nil for unit or quantity -->
<% proportions.each do |proportion| %>
  <% @proportion_view_object = ProportionViewObject.new(proportion) %>
  <p><%= @proportion_view_object.display %></p>
<% end %>



<% steps.each_with_index do |step, index| %>
  <% @step_view_object = StepViewObject.new(step)%>
  <p><%= @step_view_object.list(index) %></p>
<% end %>
<!-- Image -->
