<% proportions.each do |proportion| %>
  <ul>
    <% @proportion_view_object = ProportionViewObject.new(proportion) %>
    <li><%= @proportion_view_object.display %></li>
  </ul>
<% end %>

<% steps.each_with_index do |step, index| %>
  <% @step_view_object = StepViewObject.new(step)%>
  <p><%= @step_view_object.list(index) %></p>
<% end %>
