<div class="page-view-container">
  <center><h1>Recipes</h1></center>
  <ul class="photo-grid">
    <% @recipes.each do |recipe| %>
      <li>
        <% recipe_view_object = RecipeViewObject.new(recipe) %>
        <a href="<%=recipe_path(recipe)%>">
          <figure>
            <%= image_tag(recipe_view_object.image_url, :title => recipe_view_object.image_alt, class: 'img-polaroid', alt: recipe_view_object.image_alt)%>
            <figcaption>
              <p>
                <%=recipe_view_object.image_alt%>
              </p>
            </figcaption>
          </figure>
       </a>
      </li>
    <%end%>
  </ul>
</div>
