<div class="page-view-container">
  <center><h1>Recipes</h1></center>
  <ul class="photo-grid">
    <% @recipes.each do |recipe| %>
      <li>
        <% recipe_view_object = RecipeViewObject.new(recipe) %>
        <figure>
          <%= link_to image_tag(recipe_view_object.image_url, :title => recipe_view_object.image_alt, class: 'img-polaroid', alt: recipe_view_object.image_alt), recipe_path(recipe)%>
          <figcaption>
            <p>
              <%=recipe_view_object.image_alt%>
            </p>
          </figcaption>
        </figure>
      </li>
    <%end%>
  </ul>
</div>
