<h1><%= @recipe.name %></h1>
<img src="<%= @recipe.image_url%>" alt="<%= @recipe.name%>" style="width:304px;height:228px;">
<div><%= render partial: 'show', locals: {recipe: @recipe, steps: @steps, proportions: @proportions} %></div>
