<div class="col-md-4 col-xs-offset-1" id="state_data">
  <h3><%= month %> in <%= state.name %></h3>
  <br>
    <h5>Ingredients</h5>
    <ul>
      <% ingredients.each do |ingredient| %>
        <li><%= ingredient.name%></li>
      <% end %>
    </ul>
</div>
