<div id="state_data">
  <% state_season_view_object = StateSeasonViewObject.new(state, ingredients) %>
  <h3><%= state_season_view_object.display_title %></h3>
  <h5>Ingredients</h5>
  <% ingredients.each do |ingredient| %>
    <%= link_to ingredient.name, "/searches?keyword=#{ingredient.name}" %> |
  <% end %>
</div>
