<div id='state_data'></div>
<div id='map'></div>

<script>
  function displayStateInfo(stateName) {
  var url = "<%= states_data_path %>";
    $.ajax({
      url: url,
      data: {'name': stateName},
      method: "GET",
      dataType: "JSON"
    }).success(function(data){
      debugger; 
      $('#state_data').html(data.template);
    })
  };
</script>
