<div class='background-image'>
<div class='row'>
  <div class='cookbook-title'>
    <h2>The</h2>
    <h1>COOKBOOK</h1>
  </div>
</div>
<div class='row'>
  <p class= 'homepage-btn'>
    <%= link_to '<button class="btn btn-large btn-inverse" type="button">Browse Recipes</button>'.html_safe, recipes_path %>
  </p>
</div>
</div>