# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 80c716434b94aa5cf5b51df027684be9335bd0ec11a53efd21ca5b98f0828f9f142eba6ab08245263bb81384d050eedb94bbc9685ce63cbd7f6f5a9fe1a3e5a4
  gmail_username: "flatironfoodies@gmail.com"
  gmail_password: "Book1234"
test:
  secret_key_base: a9e82bed660243d78bd83d88e691bcbd6f8140aa72e71ebcae8cbde0a52e670b3980c53a2cd103d477cee308fd9d9e76cff54027ae8b2f9f5e130727884ce1c3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
