.background-image {
  padding-top: 0px;
  background-image: url('pasta');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.cookbook-title h1 {
padding-top: 70px;
  text-align: center;
  font-size: 1100%;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.cookbook-title h2 {
  padding-top: 130px;
  text-align: center;
  font-size: 500%;
  color: white;
  text-shadow: 2px 2px 8px black;
}
.homepage-btn {
  padding-top: 100px;
  text-align: center;
}